In [12]:
import numpy as np
import pandas as pd

In [13]:
pd.options.display.max_columns = 50

In [14]:
data = pd.read_csv('C:/Users/USER/Downloads/Libros/employee_data.csv')
data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/USER/Downloads/Libros/employee_data.csv'

In [ ]:
data['DepartmentType'] = data['DepartmentType'].str.strip()
data['Title'] = data['Title'].str.strip()

In [ ]:
# Elinamos TerminationDescription
data.drop('TerminationDescription', axis=1, inplace=True)
data.drop('TerminationType', axis=1, inplace=True)
data.drop('Division', axis=1, inplace=True)
data.drop('LocationCode', axis=1, inplace=True)
data.drop('State', axis=1, inplace=True)
data.drop('Supervisor', axis=1, inplace=True)
data.drop('EmployeeStatus', axis=1, inplace=True)
data.drop('StartDate', axis=1, inplace=True)
data.drop('ExitDate', axis=1, inplace=True)
data.drop('BusinessUnit', axis=1, inplace=True)
data.drop('EmployeeClassificationType', axis=1, inplace=True)

In [ ]:
data.head()

,EmpID,FirstName,LastName,Title,ADEmail,EmployeeType,PayZone,DepartmentType,DOB,JobFunctionDescription,GenderCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,Production Technician I,uriah.bridges@bilearner.com,Contract,Zone C,Production,07-10-1969,Accounting,Female,White,Widowed,Fully Meets,4
1,3428,Paula,Small,Production Technician I,paula.small@bilearner.com,Contract,Zone A,Production,30-08-1965,Labor,Male,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,Area Sales Manager,edward.buck@bilearner.com,Full-Time,Zone B,Sales,06-10-1991,Assistant,Male,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,Area Sales Manager,michael.riordan@bilearner.com,Contract,Zone A,Sales,04-04-1998,Clerk,Male,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,Area Sales Manager,jasmine.onque@bilearner.com,Contract,Zone A,Sales,29-08-1969,Laborer,Female,Other,Married,Fully Meets,3

In [ ]:
import pandas as pd
import numpy as np

# Definir los rangos salariales según el título
salary_ranges = {
    'low': ['Laborer', 'Clerk', 'Driver', 'Helper', 'Attendant', 'Warehouse', 'Flagger'],
    'mid': ['Technician', 'Engineer', 'Supervisor', 'Coordinator', 'Operator', 'Foreman', 'Mechanic', 'Electrician', 'Field Technician', 'Inspector', 'Estimator'],
    'high': ['Manager', 'Director', 'Ceo', 'Vp', 'Cfo', 'Cio', 'Executive', 'Program Manager', 'Project Manager', 'General Manager']
}

# Asignar sueldo base según el título
def assign_base_salary(title):
    if title in salary_ranges['low']:
        return int(np.random.uniform(1000, 3000))  # Sueldo base para nivel bajo
    elif title in salary_ranges['mid']:
        return int(np.random.uniform(3000, 7000))  # Sueldo base para nivel medio
    elif title in salary_ranges['high']:
        return int(np.random.uniform(7000, 10000))  # Sueldo base para nivel alto
    else:
        return int(np.random.uniform(3000, 6000))  # Sueldo por defecto

# Aplicar multiplicadores según Current Employee Rating
def adjust_by_rating(salary, rating):
    if rating == 5:
        return int(salary * 1.3)
    elif rating == 4:
        return int(salary * 1.2)
    elif rating == 3:
        return salary
    elif rating == 2:
        return int(salary * 0.9)
    elif rating == 1:
        return int(salary * 0.8)
    else:
        return salary

# Ajustar según el Performance Score
def adjust_by_performance(salary, performance):
    if performance == 'Exceeds':
        return int(salary * 1.1)
    elif performance == 'Fully Meets':
        return salary
    elif performance == 'Needs Improvement':
        return int(salary * 0.9)
    elif performance == 'PIP':
        return int(salary * 0.8)
    else:
        return salary

# Crear la columna de sueldo mensual como entero
data['monthly_salary'] = data.apply(lambda row: adjust_by_performance(
                                        adjust_by_rating(assign_base_salary(row['Title']), row['Current Employee Rating']),
                                        row['Performance Score']),
                                    axis=1)

In [ ]:
# Crea una columna de contraseña despues de la columna ADEmail
data.insert(data.columns.get_loc('ADEmail') + 1, 'Password', data['FirstName'].str.lower() + data['LastName'].str.lower() + data['EmpID'].astype(str))

In [ ]:
import pandas as pd

# Crear DataFrame original (dataset)
# Aquí deberías tener cargado tu dataset en la variable `data`

# Definir nuevos empleados
new_employee_1 = {
    'EmpID': 1000,
    'FirstName': 'Josue',
    'LastName': 'Velo',
    'Title': 'Data Analyst',
    'ADEmail': 'josue.velo@utec.edu.pe',
    'Password': 'Ut3c7241',
    'EmployeeType': 'Contract',
    'PayZone': 'Zone A',
    'DepartmentType': 'IT/IS',
    'DOB': '22-11-2004',
    'JobFunctionDescription': 'Supervisor',
    'GenderCode': 'Male',
    'RaceDesc': 'Hispanic',
    'MaritalDesc': 'Single',
    'Performance Score': 'Exceeds',
    'Current Employee Rating': 5,	
    'monthly_salary': 5700
}

new_employee_2 = {
    'EmpID': 999,
    'FirstName': 'Luis',
    'LastName': 'Olivera',
    'Title': 'Data Architect',
    'ADEmail': '76917241@tacna.coar.edu.pe',
    'Password': 'ERESelMEJOR17',
    'EmployeeType': 'Part-Time',
    'PayZone': 'Zone C',
    'DepartmentType': 'IT/IS',
    'DOB': '15-10-1995',
    'JobFunctionDescription': 'Engineer',
    'GenderCode': 'Male',
    'RaceDesc': 'White',
    'MaritalDesc': 'Married',
    'Performance Score': 'Needs Improvement',
    'Current Employee Rating': 3,	
    'monthly_salary': 3568
}

# Crear DataFrame para nuevos empleados
new_employees_df = pd.DataFrame([new_employee_1, new_employee_2])

# Insertar nuevos empleados al dataset
data = pd.concat([data, new_employees_df], ignore_index=True)

In [ ]:
# Renombrar columnas con sugerencias para 'Performance Score' y 'Current Employee Rating'
data.rename(columns={
    'ADEmail': 'Email'  
}, inplace=True)

In [ ]:
data.tail()

,EmpID,FirstName,LastName,Title,Email,Password,EmployeeType,PayZone,DepartmentType,DOB,JobFunctionDescription,GenderCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,monthly_salary
2997,3424,Annabel,Wilkins,Production Technician I,annabel.wilkins@bilearner.com,annabelwilkins3424,Contract,Zone B,Production,27-01-1997,Laborer,Male,White,Single,Fully Meets,2,3020
2998,3425,Kendra,Braun,Production Technician I,kendra.braun@bilearner.com,kendrabraun3425,Contract,Zone B,Production,28-05-1954,Foreman,Female,Hispanic,Divorced,Fully Meets,2,3829
2999,3426,Chace,Kerr,Production Technician I,chace.kerr@bilearner.com,chacekerr3426,Full-Time,Zone B,Production,11-09-1990,Warehouse Technician,Female,White,Married,Fully Meets,2,4671
3000,1000,Josue,Velo,Data Analyst,josue.velo@utec.edu.pe,Ut3c7241,Contract,Zone A,IT/IS,22-11-2004,Supervisor,Male,Hispanic,Single,Exceeds,5,5700
3001,999,Luis,Olivera,Data Architect,76917241@tacna.coar.edu.pe,ERESelMEJOR17,Part-Time,Zone C,IT/IS,15-10-1995,Engineer,Male,White,Married,Needs Improvement,3,3568

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmpID                    3002 non-null   int64
 1   FirstName                3002 non-null   object
 2   LastName                 3002 non-null   object
 3   Title                    3002 non-null   object
 4   Email                    3002 non-null   object
 5   Password                 3002 non-null   object
 6   EmployeeType             3002 non-null   object
 7   PayZone                  3002 non-null   object
 8   DepartmentType           3002 non-null   object
 9   DOB                      3002 non-null   object
 10  JobFunctionDescription   3002 non-null   object
 11  GenderCode               3002 non-null   object
 12  RaceDesc                 3002 non-null   object
 13  MaritalDesc              3002 non-null   object
 14  Performance Score        3002 non-null   object
 15  Current Employee Rating  3002 non-null   int64
 16  monthly_salary           3002 non-null   int64
dtypes: int64(3), object(14)
memory usage: 398.8+ KB